### NOTE:
We undertook cleaning this dataset from Keggle. This dataset was created from a user who scrapped car auction websites in the United States. However, after cleaning we realized that there had been an error in the original scrapped data, where the model of car was not pulled correctly. As a result, we had to drop this dataframe from our project.

In [1]:
import pandas as pd
import datetime
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import json

gkey="AIzaSyBdEnpqKUZJdh15ojsERG_kHzYcTFHRqvI"

In [2]:
csv="../Resources/USA_cars_datasets.csv"

In [3]:
cars=pd.read_csv(csv)
cars

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [4]:
auction_df=cars[['brand','model','year','color','price','state']]
auction_df

          brand    model  year   color  price       state
0        toyota  cruiser  2008   black   6300  new jersey
1          ford       se  2011  silver   2899   tennessee
2         dodge      mpv  2018  silver   5350     georgia
3          ford     door  2014    blue  25000    virginia
4     chevrolet     1500  2018     red  27700     florida
...         ...      ...   ...     ...    ...         ...
2494     nissan    versa  2019     red   7800  california
2495     nissan    versa  2018  silver   9200     florida
2496     nissan    versa  2018  silver   9200     florida
2497     nissan    versa  2018   black   9200     florida
2498     nissan    versa  2018  silver   9200     florida

[2499 rows x 6 columns]

In [5]:
final_auction=auction_df.rename(columns={"brand": "make",
                            "price":"auction_price"})

final_auction['lat'] = ""
final_auction['lng'] = ""

final_auction

           make    model  year   color  auction_price       state lat lng
0        toyota  cruiser  2008   black           6300  new jersey
1          ford       se  2011  silver           2899   tennessee
2         dodge      mpv  2018  silver           5350     georgia
3          ford     door  2014    blue          25000    virginia
4     chevrolet     1500  2018     red          27700     florida
...         ...      ...   ...     ...            ...         ...  ..  ..
2494     nissan    versa  2019     red           7800  california
2495     nissan    versa  2018  silver           9200     florida
2496     nissan    versa  2018  silver           9200     florida
2497     nissan    versa  2018   black           9200     florida
2498     nissan    versa  2018  silver           9200     florida

[2499 rows x 8 columns]

In [ ]:
base_url = 'https://maps.googleapis.com/maps/api/geocode/json'

for x in range(len(final_auction)):     
    target_state = final_auction['state'][x]
    params = {"address": target_state, "key": gkey}
    response = requests.get(base_url, params=params)
    geo = response.json()
    final_auction['lat'][x] = geo['results'][0]['geometry']['location'] ['lat']
    final_auction['lng'][x] = geo['results'][0]['geometry']['location']['lng']

In [ ]:
final_auction

In [ ]:
#Check for any missing data data 
all_na = []
for i in range(8):
    #False treated as 0, true treated as 1
    na_count = final_auction.iloc[:,i].isnull().values.sum()
    colname = final_auction.columns[i]
    percent_na = round((na_count/len(final_auction))*100,2)
    
    col_na = {
        'colname': colname,
        'na_count': na_count,
        'percent_na': percent_na
        }
    
    all_na.append(col_na)

In [ ]:
all_na

In [ ]:
#make sure all in the US
states = final_auction['state'].unique()
states

In [ ]:
final_auction2 = final_auction[final_auction['state'] != 'ontario']

In [ ]:
states = final_auction2['state'].unique()
states

In [ ]:
#write the df to csv for importation into sql
final_auction2.to_csv('../Resources/final_auction.csv', index=False)