In [1]:
import pandas as pd
import datetime

In [2]:
csv="../Resources/vehicles_mpg.csv"

In [3]:
mpg=pd.read_csv(csv)
mpg

/Users/agetecza/opt/anaconda3/envs/PythonEnv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42308,14.982273,0.0,0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
42309,14.330870,0.0,0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
42310,15.695714,0.0,0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
42311,15.695714,0.0,0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
42312,18.311667,0.0,0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
#Get the column names
list(mpg.columns)

['barrels08',
 'barrelsA08',
 'charge120',
 'charge240',
 'city08',
 'city08U',
 'cityA08',
 'cityA08U',
 'cityCD',
 'cityE',
 'cityUF',
 'co2',
 'co2A',
 'co2TailpipeAGpm',
 'co2TailpipeGpm',
 'comb08',
 'comb08U',
 'combA08',
 'combA08U',
 'combE',
 'combinedCD',
 'combinedUF',
 'cylinders',
 'displ',
 'drive',
 'engId',
 'eng_dscr',
 'feScore',
 'fuelCost08',
 'fuelCostA08',
 'fuelType',
 'fuelType1',
 'ghgScore',
 'ghgScoreA',
 'highway08',
 'highway08U',
 'highwayA08',
 'highwayA08U',
 'highwayCD',
 'highwayE',
 'highwayUF',
 'hlv',
 'hpv',
 'id',
 'lv2',
 'lv4',
 'make',
 'model',
 'mpgData',
 'phevBlended',
 'pv2',
 'pv4',
 'range',
 'rangeCity',
 'rangeCityA',
 'rangeHwy',
 'rangeHwyA',
 'trany',
 'UCity',
 'UCityA',
 'UHighway',
 'UHighwayA',
 'VClass',
 'year',
 'youSaveSpend',
 'guzzler',
 'trans_dscr',
 'tCharger',
 'sCharger',
 'atvType',
 'fuelType2',
 'rangeA',
 'evMotor',
 'mfrCode',
 'c240Dscr',
 'charge240b',
 'c240bDscr',
 'createdOn',
 'modifiedOn',
 'startStop',
 'phevCity',
 'phevHwy',
 'phevComb']

In [5]:
mpg_df = mpg[['make','model','year','comb08','fuelType1','VClass','cylinders','displ','drive','trany','sCharger','tCharger']]

In [6]:
# I added super charger and turbo charger; both things that effect fuel economy and price. And of course 
# comb08 which is mpg.
# I took out mpgData and barrels08 which don't tell us anything.  I also took out createdOn and modifiedOn since 
# those were EPA dates.  Also engID (was an EPA designation) and eng_dscr I'm fine with putting these back but they didn't seem useful

mpg_df

,make,model,year,comb08,fuelType1,VClass,cylinders,displ,drive,trany,sCharger,tCharger
0,Alfa Romeo,Spider Veloce 2000,1985,21,Regular Gasoline,Two Seaters,4.0,2.0,Rear-Wheel Drive,Manual 5-spd,NaN,NaN
1,Ferrari,Testarossa,1985,11,Regular Gasoline,Two Seaters,12.0,4.9,Rear-Wheel Drive,Manual 5-spd,NaN,NaN
2,Dodge,Charger,1985,27,Regular Gasoline,Subcompact Cars,4.0,2.2,Front-Wheel Drive,Manual 5-spd,NaN,NaN
3,Dodge,B150/B250 Wagon 2WD,1985,11,Regular Gasoline,Vans,8.0,5.2,Rear-Wheel Drive,Automatic 3-spd,NaN,NaN
4,Subaru,Legacy AWD Turbo,1993,19,Premium Gasoline,Compact Cars,4.0,2.2,4-Wheel or All-Wheel Drive,Manual 5-spd,NaN,T
...,...,...,...,...,...,...,...,...,...,...,...,...
42308,Subaru,Legacy,1993,22,Regular Gasoline,Compact Cars,4.0,2.2,Front-Wheel Drive,Automatic 4-spd,NaN,NaN
42309,Subaru,Legacy,1993,23,Regular Gasoline,Compact Cars,4.0,2.2,Front-Wheel Drive,Manual 5-spd,NaN,NaN
42310,Subaru,Legacy AWD,1993,21,Regular Gasoline,Compact Cars,4.0,2.2,4-Wheel or All-Wheel Drive,Automatic 4-spd,NaN,NaN
42311,Subaru,Legacy AWD,1993,21,Regular Gasoline,Compact Cars,4.0,2.2,4-Wheel or All-Wheel Drive,Manual 5-spd,NaN,NaN
42312,Subaru,Legacy AWD Turbo,1993,18,Premium Gasoline,Compact Cars,4.0,2.2,4-Wheel or All-Wheel Drive,Automatic 4-spd,NaN,T

In [7]:
all_na = []
for i in range(12):
    #False treated as 0, true treated as 1
    na_count = mpg_df.iloc[:,i].isnull().values.sum()
    colname = mpg_df.columns[i]
    percent_na = round((na_count/len(mpg_df))*100,2)
    
    col_na = {
        'colname': colname,
        'na_count': na_count,
        'percent_na': percent_na
        }
    
    all_na.append(col_na)

In [8]:
all_na

[{'colname': 'make', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'model', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'year', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'comb08', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'fuelType1', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'VClass', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'cylinders', 'na_count': 242, 'percent_na': 0.57},
 {'colname': 'displ', 'na_count': 240, 'percent_na': 0.57},
 {'colname': 'drive', 'na_count': 1189, 'percent_na': 2.81},
 {'colname': 'trany', 'na_count': 11, 'percent_na': 0.03},
 {'colname': 'sCharger', 'na_count': 41429, 'percent_na': 97.91},
 {'colname': 'tCharger', 'na_count': 34838, 'percent_na': 82.33}]

In [9]:
#Rename columns
final_mpg=mpg_df.rename(columns={"comb08": "mpg",
                            "VClass":"size_class",
                            "fuelType1":"fuel",
                            "displ": "displacement_liters",
                            "trany": "transmission",
                            "sCharger": "super_charger",
                            "tCharger": "turbo_charger"})

In [10]:
final_mpg['make'] = final_mpg['make'].str.lower()
final_mpg['model'] = final_mpg['model'].str.lower()
final_mpg['fuel'] = final_mpg['fuel'].str.lower()
final_mpg['size_class'] = final_mpg['size_class'].str.lower()
final_mpg['drive'] = final_mpg['drive'].str.lower()
final_mpg['transmission'] = final_mpg['transmission'].str.lower()

final_mpg = final_mpg[final_mpg['cylinders'].notna()]
final_mpg.cylinders = final_mpg.cylinders.apply(int)

final_mpg['turbo_charger'] = final_mpg['turbo_charger'].fillna('FALSE')
final_mpg['super_charger'] = final_mpg['super_charger'].fillna('FALSE')

final_mpg["turbo_charger"].replace({"T": "TRUE"}, inplace=True)
final_mpg["super_charger"].replace({"S": "TRUE"}, inplace=True)

In [11]:
final_mpg

,make,model,year,mpg,fuel,size_class,cylinders,displacement_liters,drive,transmission,super_charger,turbo_charger
0,alfa romeo,spider veloce 2000,1985,21,regular gasoline,two seaters,4,2.0,rear-wheel drive,manual 5-spd,FALSE,FALSE
1,ferrari,testarossa,1985,11,regular gasoline,two seaters,12,4.9,rear-wheel drive,manual 5-spd,FALSE,FALSE
2,dodge,charger,1985,27,regular gasoline,subcompact cars,4,2.2,front-wheel drive,manual 5-spd,FALSE,FALSE
3,dodge,b150/b250 wagon 2wd,1985,11,regular gasoline,vans,8,5.2,rear-wheel drive,automatic 3-spd,FALSE,FALSE
4,subaru,legacy awd turbo,1993,19,premium gasoline,compact cars,4,2.2,4-wheel or all-wheel drive,manual 5-spd,FALSE,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...
42308,subaru,legacy,1993,22,regular gasoline,compact cars,4,2.2,front-wheel drive,automatic 4-spd,FALSE,FALSE
42309,subaru,legacy,1993,23,regular gasoline,compact cars,4,2.2,front-wheel drive,manual 5-spd,FALSE,FALSE
42310,subaru,legacy awd,1993,21,regular gasoline,compact cars,4,2.2,4-wheel or all-wheel drive,automatic 4-spd,FALSE,FALSE
42311,subaru,legacy awd,1993,21,regular gasoline,compact cars,4,2.2,4-wheel or all-wheel drive,manual 5-spd,FALSE,FALSE
42312,subaru,legacy awd turbo,1993,18,premium gasoline,compact cars,4,2.2,4-wheel or all-wheel drive,automatic 4-spd,FALSE,TRUE

In [12]:
#write the df to csv for importation into sql
final_mpg.to_csv('../Resources/final_mpg.csv', index=False)