In [3]:
import pandas as pd

In [65]:
csv="../Resources/final_mpg.csv"
csv2="../Resources/final_car.csv"

In [66]:
mpg=pd.read_csv(csv)
car=pd.read_csv(csv2)

In [67]:
#pull only the make model and year
mpg2 = mpg.iloc[:,0:3]
car2 = car.iloc[:,0:3]

In [68]:
car2

             make              model  year
0           acura                 tl  2012
1          jaguar                 xf  2011
2           honda            element  2004
3       chevrolet  silverado k2500hd  2016
4             kia           sportage  2015
...           ...                ...   ...
463008      mazda               cx-5  2015
463009     nissan           frontier  2016
463010        bmw               335i  2010
463011      dodge               dart  2015
463012        gmc             acadia  2008

[463013 rows x 3 columns]

In [69]:
#get a df with only unique make model and year
mpg3 = mpg2.drop_duplicates()
car3 = car2.drop_duplicates()

In [70]:
#combine the data
mmy = mpg3.append(car3, ignore_index=True)

In [71]:
#Make sure everything is lower case
mmy2["make"] = mmy2["make"].str.lower()
mmy2["model"] = mmy2["model"].str.lower()

In [72]:
#once again drop duplicates
mmy3 = mmy2.drop_duplicates()

In [73]:
#Check for any missing data data 
all_na = []
for i in range(3):
    #False treated as 0, true treated as 1
    na_count = mmy3.iloc[:,i].isnull().values.sum()
    colname = mmy3.columns[i]
    percent_na = round((na_count/len(mmy3))*100,2)
    
    col_na = {
        'colname': colname,
        'na_count': na_count,
        'percent_na': percent_na
        }
    
    all_na.append(col_na)

In [74]:
all_na

[{'colname': 'make', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'model', 'na_count': 0, 'percent_na': 0.0},
 {'colname': 'year', 'na_count': 0, 'percent_na': 0.0}]

In [75]:
#save to csv
mmy3.to_csv('../Resources/final_mmy.csv', index=False)